table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
th, td {
  border-bottom: 1px solid black;
  padding: 0.25rem 1rem;
}

article {
  border-radius: 1rem;
  padding: 1rem;
}

article > footer {
  display: flex;
  justify-content: space-between;
}
article > footer a {
  color: #333;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
