  <section>
    <h2>Credits</h2>
    Dog by Gregor Cresnar from <a href="https://thenounproject.com/browse/icons/term/dog/" target="_blank" title="Dog Icons">Noun Project (CC BY 3.0)</a>
  </section>
