<hgroup>
  <h2><%= @dog.name %></h2>
  <h3><%= Time.current.in_time_zone(@timezone).to_date.to_fs(:long) %></h3>
</hgroup>

<main id="behaviors">
  <% @counted_behaviors.each do |behavior| %>
    <%= render partial: "counted_behavior", object: behavior, locals: {
      count: @behavior_counts_by_behavior_id[behavior.id] || 0,
      dog: @dog,
      # TODO: last_seen_at
    } %>
  <% end %>
</main>
